.hidden{
    display: none;
}

body {
    margin: 0px;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif;
    background-attachment: fixed;
    text-align: center;
}

#clock{
    font-size: 100px;
    color: rgb(255, 255, 255);
}

/* login-form */
#login-form{
    margin: 10px;
}
input{
    font-size: 20px;
}

input::placeholder{
    font-weight:600;
    color: rgba(0, 0, 0, 0.658);
    font-size: 16px;
}


#quotes{
    margin: 10px;
}